@import "syntax-variables";

atom-text-editor, :host {
  background-color: @syntax-background-color;
  color: @syntax-text-color;
}

atom-text-editor .gutter, :host .gutter {
  background-color: @syntax-gutter-background-color;
  color: @syntax-gutter-text-color;
}

atom-text-editor .gutter .line-number.cursor-line, :host .gutter .line-number.cursor-line {
  background-color: @syntax-gutter-background-color-selected;
  color: @syntax-gutter-text-color-selected;
}

atom-text-editor .gutter .line-number.cursor-line-no-selection, :host .gutter .line-number.cursor-line-no-selection {
  color: @syntax-gutter-text-color-selected;
}

atom-text-editor .wrap-guide, :host .wrap-guide {
  color: @syntax-wrap-guide-color;
}

atom-text-editor .indent-guide, :host .indent-guide {
  color: @syntax-indent-guide-color;
}

atom-text-editor .invisible-character, :host .invisible-character {
  color: @syntax-invisible-character-color;
}

atom-text-editor .search-results .marker .region, :host .search-results .marker .region {
  background-color: transparent;
  border: @syntax-result-marker-color;
}

atom-text-editor .search-results .marker.current-result .region, :host .search-results .marker.current-result .region {
  border: @syntax-result-marker-color-selected;
}

atom-text-editor.is-focused .cursor, :host(.is-focused) .cursor {
  border-color: @syntax-cursor-color;
}

atom-text-editor.is-focused .selection .region, :host(.is-focused) .selection .region {
  background-color: @syntax-selection-color;
}

atom-text-editor.is-focused .line-number.cursor-line-no-selection, atom-text-editor.is-focused .line.cursor-line, :host(.is-focused) .line-number.cursor-line-no-selection, :host(.is-focused) .line.cursor-line {
  background-color: #49483E;
}

.comment {
  color: @gray;
}

.string {
  color: @light-green;
}

.constant.numeric {
  color: @green;
}

.constant.language {
  color: @purple;
}

.constant.character, .constant.other {
  color: @purple;
}

.variable {
  color: @light-purple;
}

.keyword {
  color: @yellow;
}

.storage {
  color: @light-blue;
}

.storage.type {
  font-style: italic;
  color: @blue;
}

.entity.name.class {
  text-decoration: underline;
  color: @light-yellow;
}

.entity.other.inherited-class {
  font-style: italic;
  text-decoration: underline;
  color: @light-yellow;
}

.entity.name.function {
  color: @light-pink;
}

.variable.parameter {
  font-style: italic;
  color: @light-purple;
}

.entity.name.tag {
  color: @yellow;
}

.entity.other.attribute-name {
  color: @blue;
}

.support.function {
  color: @light-blue;
}

.support.constant {
  color: @purple;
}

.support.type, .support.class {
  color: @light-yellow;
}

.support.other.variable {
  color: @light-purple;
}

.source.ruby {
  color: rgba(197, 200, 198, 1);
}

.constant.other.symbol.ruby.19syntax {
  color: rgba(153, 204, 153, 1);
}

.variable.other.constant.ruby {
  color: rgba(198, 197, 226, 1);
}

.entity.name.type.class.ruby {
  color: @light-yellow;
}

.entity.name.type.module.ruby {
  color: @light-yellow;
}

.source.ruby.embedded.source {
  color: rgba(237, 237, 237, 1);
}

.source.ruby.embedded.source .punctuation.section.embedded.ruby {
  color: @blue;
}

.storage.modifier.import.java {
  color: @light-blue;
}

.storage.modifier.java {
  color: @pink;
}

.entity.name.type.class.java {
  text-decoration: underline;
  color: @light-yellow;
}

.storage.type.primitive.array.java {
  color: @light-blue;
}

.storage.type.object.array.java {
  color: @light-blue;
}

.constant.numeric.java {
  color: @green;
}

.storage.type.java {
  color: @blue;
}

.keyword.operator.dereference.java {
  color: @green;
}

.markup.inserted.diff, .meta.diff.header.to-file {
  color: @green;
}

.markup.deleted.diff, .meta.diff.header.from-file {
  color: @pink;
}
